# Copy this file to .env and make the changes
# you need for your environment. Don't commit
# those changes to git.

# Put your local Redis Stack URL here. Want to run in the
# cloud instead? Sign up at https://redis.com/try-free/.
REDIS_URL=redis://localhost:6379
